<div style="">
  <h1>Product</h1><br/>
  <input routerLink="/insertProduct" routerLinkActive="active" class="btn-success" style="width: 100px;" value="+AddNew"/>
  <br/><br/>
  <!-- Enter number of order<input type="number" min="1" [(ngModel)]="Ordernumber" name="orderid/> -->
   <h4>select category</h4>
  <select [(ngModel)]="selectCatID" name="catt">
    <option *ngFor="let cat of categorylist" [value]="cat.CategoryID" name="selectcat">
      {{cat.Name}}
    </option>
  </select> 
</div>
<br/>
<div>
  <app-product-details [selectedCatIDFrmproductMaster]="selectCatID"></app-product-details>
</div>
<!-- <div>
  <h3>catid:{{selectedCatID}}</h3>
  <h3>TotalPrice:{{selectedCatID}}</h3>
</div> -->
<!-- <div style="background-color: gainsboro">
  <app-orderdetail [selectedcatidfrommaster]="selectedCatID"></app-orderdetail>
</div> -->
