<div style="">
  <h1>Employee</h1><br/>
  <input routerLink="/insertEmployee" routerLinkActive="active" class="btn-success" style="width: 100px;" value="+AddNew"/>
  
  <br/><br/>
  <!-- Enter number of order<input type="number" min="1" [(ngModel)]="Ordernumber" name="orderid/> -->
  <!-- <p>select category</p>
  <select [(ngModel)]="selectedCatID" name="catt">
    <option *ngFor="let cat of categorylist" [value]="cat.ID" name="selectcat">
      {{cat.Name}}
    </option>
  </select> -->
</div>
<!-- <div>
  <h3>catid:{{selectedCatID}}</h3>
  <h3>TotalPrice:{{selectedCatID}}</h3>
</div> -->
<!-- <div style="background-color: gainsboro">
  <app-orderdetail [selectedcatidfrommaster]="selectedCatID"></app-orderdetail>
</div> -->
<div>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">EmpID</th>
            <th scope="col">FirstName</th>
            <th scope="col">Email</th>
            <!-- <th scope="col">image</th> -->
            <th scope="col">Mobile</th>
            <!-- <th scope="col">Need Quantity</th> -->
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">ViewDetail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Emp of EmployeeList">
            <td>{{Emp.EmpID}}</td>
            <td>{{Emp.FirstName}}</td>
            <td>{{Emp.Email}}</td>
            <!-- <td><img [src]="prd.Imgpath" width="40" height="40"/></td> -->
            <td>{{Emp.Mobile}}</td>
            <!-- <td><input type="number" #quantityinp/></td> -->
            <td><a style="padding: 5px;" class="btn-primary" routerLink="/employeeupdate/{{Emp.EmpID}}" routerLinkActive="active" >Update</a></td>
            <td><input type="button" class="btn-danger" value="Delete" (click)="Deleteemployee(Emp.EmpID)"/></td>
            <td><a style="padding: 5px;"  routerLink="/employeedetails/{{Emp.EmpID}}" routerLinkActive="active" class="btn-primary"  >ViewDetail</a></td>
            
          </tbody>
      </table>
       <!-- <div>For Testing: Total Price: {{orderTotalPrice}}</div>  -->
    
</div>
